# App environment
NODE_ENV=development
PORT=3000


# Supabase config
SUPABASE_URL="https://abcdefgh.supabase.co"
SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_JWT_SECRET="your-supabase-jwt-secret" # optional but useful

# Authentication
JWT_SECRET="your-jwt-secret-key"

# OAuth Google
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.nbzxuwrnvxbjzdspxfaj:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.nbzxuwrnvxbjzdspxfaj:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"